{% load static %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");



  .user {
    width: 100px;
    margin-left: 25px;
  }

  .dropbtn {
    background-color: transparent;
    font-family: "Work Sans", sans-serif;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    right: 5px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(134, 134, 134, 0.298);
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #656464cb;
    font-weight: bold;
  }

  .dropdown-content :last-child:hover {
    border-radius: 0px 0px 10px 10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
  }

  #shopicon {
    width: 10px;
    height: 10px;
  }

  .after-reg {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
</style>


<nav id="navbar">
  <div id="logo-cotainer">
    <img src="{% static 'image/LOGO.png' %}" alt="LOGO" />
    <h2>MoonGem</h2>
  </div>

  <ul class="nav-item">
    <li class="nav_button">HOME</li>
    <li class="nav_button">ABOUT US</li>
    <li class="nav_button">PRODOCTS</li>
    <li class="nav_button">SUPPORT</li>
  </ul>
  <div class="after-reg">
    <div style="width: 20px; height:20px; top:20px; position:absolute; margin-right:5px">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 27" fill="white" stroke="white" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <circle cx="9" cy="21" r="1"></circle>
        <circle cx="20" cy="21" r="1"></circle>
        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h12.66a2 2 0 0 0 2-1.61L23 6H6"></path>
      </svg>

    </div>

    <div class="user">
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button class="dropbtn">{{request.user}}</button>
        <div class="dropdown-content">

          <div>
            <a href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>
      {% else %}
      <a href="{% url 'login' %}">
        <p>Login</p>
      </a>
      {% endif %}
    </div>
  </div>


</nav>